/* 
Author: Kira
*/
@font-face { 
    font-family: windowsninty;
    src: url(MSW98UI-Regular.woff);
}


*{
    font-family: windowsninty;
    background-color: blanchedalmond;
    
}

